html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
  color: white;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgb(4, 5, 5) 0%,
    rgb(144, 206, 45) 100%
  );
}

.navbar
{
  font-size: 20px !important;
  font-weight: bold;
  background:rgb(144,206,45) !important;
}

.navbar-brand 
{
  font-size: 26px !important;
  color: white !important;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar ul li a
{
  color: white !important;

}

.navbar ul li a:hover,.navbar ul li a:active
{
  color: gray !important;
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.companies
{
    margin:200px 0;
    padding:200px 0;
    background: url('img/MacOS-3D-4K-Dark.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
}

.feature {
  color: #fff;
  
}

.feature .container {
  padding-top: 100px !important;  
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icons
{
  margin-top: 20px;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin-top: 100px;
  background: url('img/MacOS-3D-4K-Dark.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}
